
    <!-- Staff Section -->
  <div id="courses" class="container mt-5" style="background-color: #F5F5DC; padding: 20px; border-radius: 15px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);">
    <div class="row mt-4">
      <h1 class="text-center mb-5" style="color: #2E7D32; font-family: 'Roboto', sans-serif; font-weight: bold; letter-spacing: 1px;">OUR TEAM</h1>

      <div class="col-md-3 text-center">
          <img src="/static/images/pic (1).jpg" alt="Staff Member 1" style="width: 100%; border-radius: 10px;">
          <h5 class="mt-2" style="color: #555;">Umaima Fareed</h5>
          <a href="https://www.google.com/search?q=fine+arts&oq=fine+arts&gs_lcrp=EgZjaHJvbWUyDAgAEEUYORixAxiABDIHCAEQABiABDIHCAIQABiABDIHCAMQABiABDIHCAQQABiABDIHCAUQABiABDIGCAYQRRg8MgYIBxBFGDzSAQgyMDE2ajBqMagCCLACAQ&sourceid=chrome&ie=UTF-8" target="_blank" class="btn mb-4" style="background-color: #FBC02D; color: white; border-radius: 8px; padding: 10px 20px; font-weight: bold;">Profile of Umaima Fareed</a>
      </div>

      <div class="col-md-3 text-center">
          <img src="/static/images/pic (2).jpg" alt="Staff Member 2" style="width: 100%; border-radius: 10px;">
          <h5 class="mt-2" style="color: #555;">Sana Kaleem</h5>
          <a href="/static/files/sana kaleem graphic designer.pdf" target="_blank" class="btn mb-4" style="background-color: #FBC02D; color: white; border-radius: 8px; padding: 10px 20px; font-weight: bold;">Profile of Sana Kaleem</a>
      </div>

      <div class="col-md-3 text-center">
          <img src="/static/images/pic (3).jpg" alt="Staff Member 3" style="width: 100%; border-radius: 10px;">
          <h5 class="mt-2" style="color: #555;">Muhammad Ahmad</h5>
          <a href="https://www.google.com/search?q=what+is+oracle+fusion&sca_esv=1c128b9a547ab16f&sxsrf=ADLYWIKEa_GbPrdpB2a9jN7NxENWbZAgiw%3A1727987429433&ei=5f7-ZryNGomD7NYPk-2fyQI&oq=what+Oracle+fusion&gs_lp=Egxnd3Mtd2l6LXNlcnAiEndoYXQgT3JhY2xlIGZ1c2lvbioCCAAyBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yBhAAGAcYHjIGEAAYBxgeMgYQABgHGB4yBhAAGAcYHkjSH1DGC1iXF3ABeACQAQCYAbUCoAG1DaoBBTItNS4xuAEByAEA-AEBmAIGoALDC8ICChAAGLADGNYEGEfCAg0QABiABBiwAxhDGIoFwgIHECMYsAIYJ8ICBxAAGIAEGA2YAwCIBgGQBgqSBwcxLjAuNC4xoAeiMw&sclient=gws-wiz-serp" target="_blank" class="btn mb-4" style="background-color: #FBC02D; color: white; border-radius: 8px; padding: 10px 20px; font-weight: bold;">Profile of Muhammad Ahmad</a>
      </div>

      <div class="col-md-3 text-center">
          <img src="/static/images/pic (4).jpg" alt="Staff Member 4" style="width: 100%; border-radius: 10px;">
          <h5 class="mt-2" style="color: #555;">Shabana Saleem</h5>
          <a href="/static/files/Shabana Saleem.pdf" target="_blank" class="btn mb-4" style="background-color: #FBC02D; color: white; border-radius: 8px; padding: 10px 20px; font-weight: bold;">Profile of Shabana Saleem</a>
      </div>
    </div>
  </div>
